{% extends 'base.html.twig' %}

{% block main_content %}
    <section class="big-section bg-gradient-fast-blue-purple padding-8-rem-lr lg-padding-4-rem-lr wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <div class="container">
            {{ form_start(form) }}
            <div class="form-group row">
                {{ form_widget(form.keyword, {'attr': {'class': 'border-radius-100px extra-large-input box-shadow-medium border-color-extra-medium-gray padding-50px-left m-0'}}) }}
                {{ form_errors(form.keyword) }}
            </div>
            <div class="row justify-content-center mt-4 mb-5">
                <button type="submit" class="btn btn-large btn-gradient-magenta-orange d-table d-lg-inline-block lg-margin-15px-bottom md-margin-auto-lr mt-4 mr-2"><i class="fa fa-check mr-2"></i>Filtrer</button>
                <button type="submit" id="contactForm" class="btn btn-large btn-gradient-peacock-blue-crome-yellow d-table d-lg-inline-block lg-margin-15px-bottom md-margin-auto-lr mt-4"><i class="fa fa-trash mr-2"></i>Effacer</button>
            </div>
            {{ form_end(form) }}
            <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2">
                {% for article in articles %}
                    <div class="col md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn mb-4">
                        <div class="interactive-banners-style-08 box-shadow-large bg-white h-100 border-radius-6px overflow-hidden">
                            <div class="interactive-banners-box-image">
                                <a href="{{ path('show', {'id': article.id }) }}">
                                    <img src="https://placehold.it/800x920" alt="" data-no-retina="">
                                    <div class="btn btn-white btn-rounded"><i class="fas fa-arrow-right"></i></div>
                                    <div class="interactive-banners-box-hover opacity-full-dark bg-transparent-gradient-shamrock-green-light-orange"></div>
                                </a>
                            </div>
                            <div class="interactive-banners-box-content padding-35px-all text-center xs-padding-25px-all">
                                <div style="min-height: 150px; min-width: 200px">
                                    <img src="{{ asset('uploads/images/' ~ article.image|default(asset('none.png'))) }}">
                                </div>
                                <a href="#" class="text-extra-dark-gray text-uppercase text-extra-dark-gray-hover text-medium alt-font font-weight-500 d-block line-height-26px">{{ article.title }}</a>
                                <div class="position-relative">
                                    <span>{{ article.creationDate|date('d/m/Y') }}</span>
                                    <div class="interactive-banners-box-sub-title">
                                        <a href="{{ path('show', {'id': article.id }) }}" class="btn btn-link thin btn-large text-shamrock-green">Voir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('theme/assets/js/jquery.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#contactForm").click(function () {
                document.getElementById('search_category_name').value = ""
            });
        });
    </script>
{% endblock %}
